*{
    box-sizing: border-box;
    margin: 0;
}

.email-body div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 2rem;
    font-size: 20px;
    margin-top: 5rem;
}

body{
    font-size: 16px;
}